<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gêneros</title>
    <link rel="stylesheet" href="css/generos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo-favico.png" type="image/x-icon">
</head>
<body>
    <main class="generos-content">
        <section class="add-genero-section">
            <a href="/generos/add" class="add-genero-button">
                <i class="fas fa-plus-circle"></i> Adicionar Gênero
            </a>
        </section>

        <section class="generos-list">
            <% generos.forEach(function(genero) { %>
                <div class="genero-card">
                    <button class="genero-nome" onclick="window.location.href=''">
                        <%= genero.nome %>
                    </button>
                    <div class="genero-actions">
                        <button class="edit-genero" onclick="window.location.href='/generos/<%= genero.id %>/edit'">
                            <i class="fas fa-edit"></i> Editar
                        </button>

                        <form action="/generos/<%= genero.id %>" method="POST" onsubmit="return confirm('Você tem certeza que deseja excluir este gênero?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="delete-genero">
                                <i class="fas fa-trash"></i> Excluir
                            </button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="logo-footer">
                <a href="/"><img src="/images/logo.png" alt="BraunBeat Logo"></a>
            </div>
            <nav>
                <a href="/artistas"><i class="fa-solid fa-user"></i> Artistas</a>
                <a href="/discos"><i class="fas fa-record-vinyl"></i> Discos</a>
                <a href="/faixas"><i class="fas fa-music"></i> Faixas</a>
                <a href="/generos"><i class="fas fa-tags"></i> Gêneros</a>
            </nav>
        </div>
    </footer>
</body>
</html>