<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaia's Music</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo-favico.png" type="image/x-icon">
</head>
<body>
    <main class="main-content">
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Pizzaia's Music Logo"></a>
        </div>
        <nav>
            <a href="/artistas"><i class="fa-solid fa-star"></i> Artistas</a>
            <a href="/discos"><i class="fa-solid fa-circle-play"></i> Discos</a>
            <a href="/faixas"><i class="fa-solid fa-headphones"></i> Faixas</a>
            <a href="/generos"><i class="fa-solid fa-icons"></i> Gêneros</a>
        </nav>
    </main>
    <footer>
        <p>@ 2024 Pizzaia's Music.</p>
    </footer>
</body>
</html>